@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@font-face {
  font-family: "Ubuntu";
  src: url("../web-fonts/Ubuntu-Bold.woff2") format("woff2"), url("../web-fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../web-fonts/Ubuntu-Medium.woff2") format("woff2"), url("../web-fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../web-fonts/Ubuntu-Regular.woff2") format("woff2"), url("../web-fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../web-fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../web-fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../web-fonts/Poppins-Medium.woff2") format("woff2"), url("../web-fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../web-fonts/Poppins-Bold.woff2") format("woff2"), url("../web-fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../web-fonts/Poppins-Regular.woff2") format("woff2"), url("../web-fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../web-fonts/Poppins-SemiBold.woff2") format("woff2"), url("../web-fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
}
html {
  scrollbar-color: #c8102e #ddd;
  scrollbar-width: thin;
}
html::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #c8102e;
  border-radius: 5px;
  border: 1px solid transparent;
  background-clip: content-box;
}
html::-webkit-scrollbar-track {
  background-color: #ddd;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 600;
  font-family: "Ubuntu";
  color: #1e1f36;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  color: #888888;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

h1,
.h1 {
  font-size: 30px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1400px) {
  h1,
  .h1 {
    font-size: 80px;
  }
}

h2,
.h2 {
  font-size: 25px;
  font-weight: 700;
}
@media only screen and (min-width: 576px) {
  h2,
  .h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) {
  h2,
  .h2 {
    font-size: 40px;
  }
}

h3,
.h3 {
  font-size: 25px;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1400px) {
  h3,
  .h3 {
    font-size: 45px;
  }
}

h4,
.h4 {
  font-size: 16px;
}
@media only screen and (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 22px;
  }
}

h5,
.h5 {
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  h5,
  .h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  h5,
  .h5 {
    font-size: 20px;
  }
}

h6,
.h6 {
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  h6,
  .h6 {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=submit],
[type=number],
[type=file],
textarea,
select {
  border: 1px solid #3d5779;
  padding: 25px 15px;
  margin-bottom: 12px;
  width: 100%;
  border-radius: 0px;
  height: 42px;
  background-color: #fff;
  color: #0d1931;
  outline-offset: 0px;
  font-size: 15px;
  border-radius: 10px;
  color: #888888;
  border: 1px solid #3f4161;
}
@media only screen and (min-width: 1200px) {
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=url],
  input[type=search],
  input[type=submit],
  [type=number],
  [type=file],
  textarea,
  select {
    font-size: 17px;
  }
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=submit]:focus,
[type=number]:focus,
[type=file]:focus,
textarea:focus,
select:focus {
  border-color: #F20487;
}
input[type=text]:focus-visible,
input[type=email]:focus-visible,
input[type=password]:focus-visible,
input[type=tel]:focus-visible,
input[type=url]:focus-visible,
input[type=search]:focus-visible,
input[type=submit]:focus-visible,
[type=number]:focus-visible,
[type=file]:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: unset;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=submit]::-moz-placeholder, [type=number]::-moz-placeholder, [type=file]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  font-size: 14px;
  color: #3f4161;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=submit]::placeholder,
[type=number]::placeholder,
[type=file]::placeholder,
textarea::placeholder,
select::placeholder {
  font-size: 14px;
  color: #3f4161;
}
@media only screen and (min-width: 1200px) {
  input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=submit]::-moz-placeholder, [type=number]::-moz-placeholder, [type=file]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    font-size: 14px;
  }
  input[type=text]::placeholder,
  input[type=email]::placeholder,
  input[type=password]::placeholder,
  input[type=tel]::placeholder,
  input[type=url]::placeholder,
  input[type=search]::placeholder,
  input[type=submit]::placeholder,
  [type=number]::placeholder,
  [type=file]::placeholder,
  textarea::placeholder,
  select::placeholder {
    font-size: 14px;
  }
}

input[type=submit],
input[type=button],
button,
.button {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #000;
  background-color: unset;
  transition: 0.4s all;
  padding: 5px 8px;
  border: 1 solid;
  background-color: #F20487;
  color: #fff;
}

p,
ul,
ol,
table,
address {
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.mainBtns {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  position: relative;
  background-color: #F20487;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.mainBtns::before {
  transition: 0.3s;
  content: "";
  width: 0%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.mainBtns:hover .btn_text {
  color: #F20487;
}
.mainBtns:hover::before {
  background: #fff;
  width: 100%;
  border-radius: 5px;
}
.mainBtns .btn_text {
  position: relative;
  color: #fff;
}

.subTittle {
  background: linear-gradient(to left, rgb(247, 0, 104) 0%, rgb(68, 16, 102) 25%, rgb(247, 0, 104) 75%, rgb(68, 16, 102) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 15px 0px;
  overflow: hidden;
}
header .header_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  header .headerlogoBox {
    width: 20%;
  }
}
header .headerlogoBox img {
  max-width: 200px;
}
@media only screen and (min-width: 992px) {
  header .headerMenuBox {
    width: 80%;
  }
}
header .mmenu_box {
  display: block;
}
@media only screen and (min-width: 992px) {
  header .mmenu_box {
    display: none;
  }
}
header .dmnenu_box {
  display: none;
}
@media only screen and (min-width: 992px) {
  header .dmnenu_box {
    display: block;
  }
}
header .dmnenu_box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
header .dmnenu_box li:not(:first-child) {
  margin-left: 25px;
}
header .dmnenu_box a {
  font-size: 16px;
  font-weight: 500;
  color: #3f4161;
  text-decoration: none;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
header .dmnenu_box a::before {
  content: "";
  position: absolute;
  transition: 0.5s all ease;
  top: 90%;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(90deg, rgb(242, 4, 135) 0%, rgb(76, 53, 169) 100%);
  z-index: -1;
}
header .dmnenu_box a:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
header .mmenuButton i {
  color: #F20487;
}
header .ssBtn {
  margin-left: 30px;
}
header .ssBtn i {
  font-size: 20px;
  color: #3f4161;
}
header .ssBtn a::before {
  content: unset;
}
header .mainBtns {
  margin-left: 10px;
}

#ac_mmenu:not(.mm-spn) {
  display: none;
}

.mm-ocd--open {
  z-index: 100000;
}

#ac_mmenu {
  background-color: #3f4161;
  color: #fff;
}

.mm-spn li::after {
  margin-left: 0;
}

.mm-spn--open a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}
.mm-spn--open li.current-menu-item > a, .mm-spn--open li.current-menu-parent > a, .mm-spn--open li:hover > a, .mm-spn--open li:active > a {
  background-color: #4C35A9;
  color: #fff;
}

.headerSearchModal .modal-content {
  top: 200px;
}
.headerSearchModal .inner {
  height: 60px;
  display: flex;
  align-items: center;
}
.headerSearchModal .inner input {
  width: 80%;
  height: 100%;
  border-radius: unset;
  margin-bottom: 0;
}
.headerSearchModal .inner button {
  width: 20%;
  height: 100%;
  border: unset;
}

.bannerSection {
  padding: 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .bannerSection {
    padding: 70px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .bannerSection {
    padding: 100px 0px;
  }
}
.bannerSection .bannerContennt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerSection .bannerTittle h1, .bannerSection .bannerTittle .h1 {
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}
.bannerSection .meetAddress p {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}
.bannerSection .meetAddress i {
  color: #F20487;
}
.bannerSection .bannerCountdown {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .bannerSection .bannerCountdown {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .bannerSection .bannerCountdown ul {
    padding-left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.bannerSection .bannerCountdown li {
  display: inline-block;
  font-size: 12px;
  list-style-type: none;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: "Orbitron";
  color: #fff;
  font-weight: 700;
}
.bannerSection .bannerCountdown li:not(:last-child) {
  margin-right: 20px;
}
@media only screen and (min-width: 768px) {
  .bannerSection .bannerCountdown li::after {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    border: 2px solid #fff;
    opacity: 0.5;
    transform: translateY(-50%) rotate(45deg);
    left: 0;
    top: 50%;
  }
}
.bannerSection .bannerCountdown li span {
  font-family: "Orbitron";
  color: #fff;
  font-weight: 700;
  display: block;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 768px) {
  .bannerSection .bannerCountdown li span {
    font-size: 40px;
    min-width: 120px;
  }
}
@media only screen and (min-width: 768px) {
  .bannerSection .bannerBtn {
    margin-top: 40px;
  }
}

.meetWel {
  padding: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .meetWel {
    padding: 70px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .meetWel {
    padding: 100px 0px;
  }
}
.meetWel .welcomConent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.meetWel .welImg {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .meetWel .welImg {
    width: 40%;
  }
}
.meetWel .welTextContent {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .meetWel .welTextContent {
    width: 49%;
  }
}
.meetWel figure {
  position: relative;
}
.meetWel figure::after {
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  background-image: url("../images/icon-shape.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  z-index: 8;
}
.meetWel figure img {
  width: 100%;
}
.meetWel .welMeetAdd p {
  margin-bottom: 10px;
}
.meetWel .welMeetAdd i {
  color: #F20487;
  margin-right: 5px;
}
.meetWel .welRegBtn {
  margin-top: 20px;
}
.meetWel .mainBtns {
  background-color: #1c94d2;
}
.meetWel .mainBtns:hover .btn_text {
  color: #1c94d2;
}

@keyframes featureCircleANime {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}
.feature {
  position: relative;
}
@media only screen and (min-width: 1600px) {
  .feature::after {
    content: "";
    position: absolute;
    background-image: url("../images/circle-blue.png");
    left: -140px;
    top: -220px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    animation: featureCircleANime 40s linear infinite alternate;
  }
}
.feature .featureContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
.feature .featureHoldedr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  border: 1px solid #eeeeee;
  padding: 20px 30px;
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .feature .featureHoldedr {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    position: relative;
    overflow: hidden;
  }
}
@media only screen and (min-width: 576px) and (min-width: 992px) {
  .feature .featureHoldedr {
    width: 48%;
  }
}
@media only screen and (min-width: 576px) {
  .feature .featureHoldedr:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
  }
  .feature .featureHoldedr:hover .featureIcon {
    transform: skew(15deg);
  }
  .feature .featureHoldedr:hover .featureBtn {
    transform: rotate(360deg);
  }
}
.feature .featureIcon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 576px) {
  .feature .featureIcon {
    background-color: #40CBB4;
    position: absolute;
    left: 50px;
    bottom: 0;
    height: 100%;
    width: 70px;
    transform: skew(-15deg);
    transition: 0.3s;
    border-radius: unset;
  }
  .feature .featureIcon img {
    transform: skew(15deg);
  }
}
.feature .Experience .featureIcon {
  background-color: #4c35a9;
}
.feature .Experience .featureBtn a {
  background-color: #4c35a9;
}
.feature .Networking .featureIcon {
  background-color: #e6275a;
}
.feature .Networking .featureBtn a {
  background-color: #e6275a;
}
.feature .Party .featureIcon {
  background-color: #1c94d2;
}
.feature .Party .featureBtn a {
  background-color: #1c94d2;
}
@media only screen and (min-width: 576px) {
  .feature .featureInnerContent {
    padding-left: 125px;
  }
}
.feature .featureInnerContent p {
  margin-bottom: 0;
}
.feature .featureInnerContent strong {
  color: #3f4161;
}
.feature .featureBtn {
  transition: 0.6s;
}
.feature .featureBtn a {
  text-decoration: none;
  background-color: #40CBB4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.layoutSec {
  margin: 40px 0px;
  background-color: #40CBB4;
}
@media only screen and (min-width: 768px) {
  .layoutSec {
    margin: 70px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .layoutSec {
    margin: 100px 0px;
  }
}
.layoutSec .layoutParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.layoutSec .Imglayout {
  background-image: url("../images/image-1.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .layoutSec .Imglayout {
    aspect-ratio: 16/9;
  }
}
@media only screen and (min-width: 768px) {
  .layoutSec .Imglayout {
    height: 500px;
    width: 50%;
  }
}
.layoutSec .Contentlayout {
  color: #fff;
  width: 100%;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .layoutSec .Contentlayout {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .layoutSec .Contentlayout {
    padding: 0px 200px;
  }
}
.layoutSec .Contentlayout h2, .layoutSec .Contentlayout .h2 {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .layoutSec .Contentlayout h2, .layoutSec .Contentlayout .h2 {
    margin-bottom: 25px;
  }
}
.layoutSec .mainBtns {
  background-color: #3f4161;
}
.layoutSec .mainBtns:hover .btn_text {
  color: #3f4161;
}

.todayPer .perHeader {
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .todayPer .perHeader {
    margin-bottom: 40px;
  }
}
.todayPer .perContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  overflow-x: auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (min-width: 992px) {
  .todayPer .perContent {
    flex-wrap: wrap;
    overflow-x: unset;
    -moz-column-gap: unset;
         column-gap: unset;
    justify-content: space-between;
    row-gap: 30px;
  }
}
.todayPer .perHolder {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-width: 260px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 991px) {
  .todayPer .perHolder {
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .todayPer .perHolder {
    width: 32%;
    max-width: 260px;
  }
}
.todayPer .perHolder:hover .perHolderSpeaker {
  border-radius: unset;
}
.todayPer .perHolder:hover .speakerLink {
  visibility: visible;
  opacity: 1;
  left: 20px;
}
.todayPer .imgBox {
  text-align: center;
  position: relative;
  padding-top: 30px;
}
.todayPer .imgBox::after {
  position: absolute;
  content: "";
  background-image: url("../images/shape-5.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  left: -10px;
  right: -10px;
  top: -4px;
  width: 103%;
  height: 100%;
  z-index: -1;
  transform: scale(-1);
}
.todayPer .perHolderSpeaker {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  transition: 0.3s;
  border: 4px solid #682372;
}
.todayPer .speakerInfo {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #F20487;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  margin: 50px 0px 30px;
}
.todayPer .speakerInfo::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 100%;
  right: -30px;
  top: 0;
  background-color: #F20487;
  transform: skew(30deg);
  border-radius: 10px;
}
.todayPer .speakerInfo p {
  margin-bottom: 0px;
}
.todayPer .speakerInfo p:last-child {
  margin-bottom: 0;
}
.todayPer .speakerLink {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 40%;
  left: -20px;
  transform: translateY(-50%);
}
.todayPer .linkList {
  list-style: none;
  padding-left: 0;
}
.todayPer .linkList li:not(:last-child) {
  margin-bottom: 10px;
}
.todayPer .linkList a {
  text-decoration: none;
  color: #1877F2;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3f4161;
  transition: 0.3s;
}
.todayPer .linkList a:hover {
  color: #fff;
  background-color: #1877F2;
  border-color: #1877F2;
}
.todayPer .linkList .twitter {
  color: #14171A;
}
.todayPer .linkList .twitter:hover {
  background-color: #14171A;
  border-color: #14171A;
}
.todayPer .linkList .pinterst {
  color: #E60023;
}
.todayPer .linkList .pinterst:hover {
  background-color: #E60023;
  border-color: #E60023;
}
.todayPer .linkList .youtube {
  color: #FF0000;
}
.todayPer .linkList .youtube:hover {
  background-color: #FF0000;
  border-color: #FF0000;
}

.accrodianSection {
  margin: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .accrodianSection {
    margin: 70px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .accrodianSection {
    margin: 100px 0px;
  }
}
.accrodianSection .accrodainContentParent {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  row-gap: 30px;
}
.accrodianSection .accrodianContent {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .accrodianSection .accrodianContent {
    width: 49%;
  }
}
.accrodianSection .accHeader {
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .accrodianSection .accHeader {
    margin-bottom: 40px;
  }
}
.accrodianSection .accordion-button {
  background-color: #40CBB4;
  color: #fff;
  font-family: "poppins";
  font-weight: 500;
  position: relative;
}
.accrodianSection .accordion-button:focus {
  box-shadow: unset;
}
.accrodianSection .accordion-button::after {
  content: "+";
  transform: unset;
  background-image: unset;
  font-size: 16px;
  position: absolute;
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
}
.accrodianSection .accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}

.SchedulePlan {
  background-color: #FAFAFA;
  padding: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .SchedulePlan {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .SchedulePlan {
    padding: 100px 0px;
  }
}
.SchedulePlan .SchedulePlanHeading {
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .SchedulePlan .SchedulePlanHeading {
    margin-bottom: 40px;
  }
}
.SchedulePlan .ScheduleBtn {
  position: relative;
  padding-top: 30px;
  background-color: unset;
  border: 1px solid #dddddd;
  height: 100%;
}
.SchedulePlan .nav-pills {
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.SchedulePlan .lightGrn .day {
  background-color: #40CBB4;
}
.SchedulePlan .lightGrn .DateBox strong {
  color: #40CBB4;
}
.SchedulePlan .lightGrn .mnth {
  color: #40CBB4;
}
.SchedulePlan .lightGrn .date {
  color: #40CBB4;
}
.SchedulePlan .purple .day {
  background-color: #4C35A9;
}
.SchedulePlan .purple .DateBox strong {
  color: #4C35A9;
}
.SchedulePlan .purple .mnth {
  color: #4C35A9;
}
.SchedulePlan .purple .date {
  color: #4C35A9;
}
.SchedulePlan .pink .day {
  background-color: #F20487;
}
.SchedulePlan .pink .DateBox strong {
  color: #F20487;
}
.SchedulePlan .pink .mnth {
  color: #F20487;
}
.SchedulePlan .pink .date {
  color: #F20487;
}
.SchedulePlan .day {
  position: absolute;
  left: 0;
  top: 10px;
  color: #fff;
  background-color: #FFC20B;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 0px 30px 30px 0px;
}

.DateBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.DateBox p {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0;
}
.DateBox strong {
  font-size: 38px;
  color: #FFC20B;
}
.DateBox .mnth {
  color: #FFC20B;
  font-weight: 700;
  font-size: 18px;
}
.DateBox .year {
  color: #3f4161;
}

.ScheduleContent .contentBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-top: 40px;
}
.ScheduleContent .innerBox {
  width: 100%;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .ScheduleContent .innerBox {
    width: 48%;
  }
}
.ScheduleContent .innerBox a {
  color: #3f4161;
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.ScheduleContent .innerBox a:hover {
  color: #FFC20B;
}
.ScheduleContent .thumb img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #FFC20B;
}
.ScheduleContent .speakerinfo {
  line-height: 1.4;
}
.ScheduleContent .speakerinfo strong {
  color: #3f4161;
}
.ScheduleContent .speakerinfo P {
  color: #777777;
  font-size: 12px;
}
.ScheduleContent .mainBtns {
  background-color: #FFC20B;
}
.ScheduleContent .mainBtns:hover .btn_text {
  color: #FFC20B;
}
.ScheduleContent .lightGntBox .mainBtns {
  background-color: #40CBB4;
}
.ScheduleContent .lightGntBox .mainBtns:hover .btn_text {
  color: #40CBB4;
}
.ScheduleContent .lightGntBox .thumb img {
  border: 2px solid #40CBB4;
}
.ScheduleContent .lightGntBox a:hover {
  color: #40CBB4;
}
.ScheduleContent .purpleBox .mainBtns {
  background-color: #4C35A9;
}
.ScheduleContent .purpleBox .mainBtns:hover .btn_text {
  color: #4C35A9;
}
.ScheduleContent .purpleBox .thumb img {
  border: 2px solid #4C35A9;
}
.ScheduleContent .purpleBox a:hover {
  color: #4C35A9;
}
.ScheduleContent .pinkBox .mainBtns {
  background-color: #F20487;
}
.ScheduleContent .pinkBox .mainBtns:hover .btn_text {
  color: #F20487;
}
.ScheduleContent .pinkBox .thumb img {
  border: 2px solid #F20487;
}
.ScheduleContent .pinkBox a:hover {
  color: #F20487;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: unset;
  border: 1px solid #FFC20B;
  box-shadow: 0 0px 30px rgba(255, 194, 11, 0.3);
}

.nav-pills .lightGrn.active, .nav-pills .show > .lightGrn {
  background-color: unset;
  border: 1px solid #40CBB4;
  box-shadow: 0 0px 30px rgba(64, 203, 180, 0.3);
}

.nav-pills .purple.active, .nav-pills .show > .purple {
  background-color: unset;
  border: 1px solid #4C35A9;
  box-shadow: 0 0px 30px rgba(76, 53, 169, 0.3);
}

.nav-pills .pink.active, .nav-pills .show > .pink {
  background-color: unset;
  border: 1px solid #F20487;
  box-shadow: 0 0px 30px rgba(230, 39, 90, 0.3);
}

.evenetroxApp {
  background-color: #FAFAFA;
  padding: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .evenetroxApp {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .evenetroxApp {
    padding: 100px 0px;
  }
}
.evenetroxApp .appContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}
.evenetroxApp .appTextContent {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .evenetroxApp .appTextContent {
    width: 48%;
  }
}
.evenetroxApp .appImgContent {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .evenetroxApp .appImgContent {
    width: 48%;
    text-align: end;
  }
}
@media only screen and (max-width: 767px) {
  .evenetroxApp .appImgContent img {
    width: 300px;
  }
}

.eventHallDerac {
  padding: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .eventHallDerac {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .eventHallDerac {
    padding: 100px 0px;
  }
}
.eventHallDerac .dehHeader {
  margin-bottom: 20px;
}
@media only screen and (min-width: 922px) {
  .eventHallDerac .dehHeader {
    margin-bottom: 40px;
  }
}
.eventHallDerac .deh_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
}
.eventHallDerac .deh_map {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .eventHallDerac .deh_map {
    width: 48%;
  }
}
.eventHallDerac .deh_map iframe {
  width: 100%;
}
.eventHallDerac .deh_tab {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .eventHallDerac .deh_tab {
    width: 48%;
  }
}
.eventHallDerac .deh_tab .tab-buttons {
  display: flex;
  justify-content: start;
  gap: 5px;
}
.eventHallDerac .deh_tab .tab-btn {
  width: 20%;
  color: #fff;
  font-weight: 600;
  background-color: #1d95d2;
  border: 1px solid #dddddd;
  border-bottom: 0;
  padding: 10px 0px;
  transition: 0.3s ease;
}
.eventHallDerac .deh_tab .tab-btn:hover {
  background-color: #fff;
  color: #1d95d2;
}
.eventHallDerac .deh_tab .tab-btn.active {
  background-color: #fff;
  color: #1d95d2;
}
.eventHallDerac .deh_tab .content {
  display: none;
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.05);
}
.eventHallDerac .deh_tab .content.show {
  display: flex;
  gap: 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px;
}
.eventHallDerac .deh_tab .content-title {
  margin-bottom: 5px;
}
.eventHallDerac .deh_tab .content-title i {
  color: #40CBB4;
  font-size: 16px;
  margin-right: 10px;
}
.eventHallDerac .userInfo {
  padding-left: 0;
  margin-bottom: 0;
}
.eventHallDerac .userInfo li {
  padding-left: 30px;
  position: relative;
  list-style: none;
}
.eventHallDerac .userInfo li::before {
  position: absolute;
  content: "\f007";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #F20487;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
}
.eventHallDerac .userInfo li:nth-child(2)::before {
  content: "\f095";
}
.eventHallDerac .userInfo li:nth-child(3)::before {
  content: "\f0e0";
}
.eventHallDerac .userInfo a {
  transition: 0.3s;
  text-decoration: none;
  color: #888888;
}
.eventHallDerac .userInfo a:hover {
  color: #F20487;
  text-decoration: underline;
}

.conferanceBg {
  background-image: url("../images/11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0px;
}
@media only screen and (min-width: 768px) {
  .conferanceBg {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .conferanceBg {
    padding: 100px 0px;
  }
}
.conferanceBg .tittle h2, .conferanceBg .tittle .h2 {
  color: #fff;
  margin-bottom: 40px;
}
.conferanceBg .subtittle p {
  color: #FFC20B;
}

.conferanceGallery .imgBOx {
  position: relative;
}
.conferanceGallery .imgBOx img {
  width: 100%;
}
.conferanceGallery .imgBOx:hover .overlayer {
  visibility: visible;
  border-radius: unset;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
.conferanceGallery .imgBOx:hover a {
  width: 40px;
  height: 40px;
}
.conferanceGallery .overlayer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 0%;
  height: 0%;
  transition: 0.6s;
  background-color: #1d95d2;
  opacity: 0;
}
.conferanceGallery .overlayer a {
  width: 0px;
  height: 0px;
  background-color: #F20487;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.6s;
}
.conferanceGallery .slick-arrow {
  width: 40px;
  height: 40px;
  background-color: #F20487;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.conferanceGallery .slick-arrow:hover {
  background-color: #F20487;
}
.conferanceGallery .slick-arrow:focus {
  background-color: #F20487;
}
.conferanceGallery .slick-next {
  right: 10px;
}
@media only screen and (min-width: 992px) {
  .conferanceGallery .slick-next {
    right: 50px;
  }
}
.conferanceGallery .slick-next::before {
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}
.conferanceGallery .slick-prev {
  left: 10px;
  z-index: 9;
}
@media only screen and (min-width: 992px) {
  .conferanceGallery .slick-prev {
    left: 50px;
  }
}
.conferanceGallery .slick-prev::before {
  content: "\f0d9";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
}

.tickerChoos {
  padding: 40px 0px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .tickerChoos {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .tickerChoos {
    padding: 100px 0px;
  }
}
.tickerChoos .container {
  position: relative;
}
.tickerChoos .container .dotCircle {
  position: absolute;
  top: 0;
  right: -100px;
  display: none;
}
@media only screen and (min-width: 1400px) {
  .tickerChoos .container .dotCircle {
    display: block;
  }
}
.tickerChoos .container .dotBox {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .tickerChoos .container .dotBox {
    display: block;
    position: absolute;
    bottom: 0;
    right: -100px;
  }
}
.tickerChoos .fullCircle {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .tickerChoos .fullCircle {
    display: block;
    position: absolute;
    bottom: -100px;
    left: -100px;
    opacity: 0.5;
    z-index: -1;
  }
}
.tickerChoos .ticketContemt {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 20px 0px;
}
@media only screen and (max-width: 991px) {
  .tickerChoos .ticketContemt {
    overflow-x: auto;
  }
}
@media only screen and (min-width: 992px) {
  .tickerChoos .ticketContemt {
    margin-top: 40px;
  }
}
.tickerChoos .ticletHolder {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
}
@media only screen and (max-width: 991px) {
  .tickerChoos .ticletHolder {
    min-width: 260px;
  }
}
@media only screen and (min-width: 992px) {
  .tickerChoos .ticletHolder {
    width: 30%;
    padding: 40px;
  }
}
.tickerChoos .ticketName p {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid #888888;
}
.tickerChoos .ticketPrice p {
  color: #F20487;
  font-size: 60px;
  margin-top: 10px;
}
.tickerChoos .ticketPackeg {
  margin-bottom: 20px;
}
.tickerChoos .ticketPackeg p {
  padding: 5px;
  margin-bottom: 0;
}
.tickerChoos .ticketPackeg p:not(:last-child) {
  border-bottom: 1px dashed #888888;
}

.newsLetter {
  padding: 40px 0px;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .newsLetter {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .newsLetter {
    padding: 100px 0px;
  }
}
.newsLetter .newsLetterContent {
  max-width: 700px;
  margin: auto;
}
.newsLetter .newsLetterTittle {
  margin: 20px 0px;
}
.newsLetter .newsLetterLogo i {
  font-size: 40px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(76, 53, 169) 0%, rgb(242, 4, 135) 48%);
  color: #fff;
  padding: 20px;
}
@media only screen and (min-width: 992px) {
  .newsLetter .newsLetterLogo i {
    font-size: 60px;
    padding: 40px;
  }
}
.newsLetter .newsLetterInput {
  display: flex;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1);
}
.newsLetter .newsLetterInput input {
  border-radius: unset;
  position: relative;
  margin-bottom: 0;
  border: unset;
}
.newsLetter .newsLetterInput input:focus {
  border: unset;
}
.newsLetter .newsLetterInput button {
  color: #3f4161;
  border: unset;
  background-color: unset;
  margin-right: 20px;
  font-size: 18px;
}

footer {
  background-image: url("../images/footerBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px 20px;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 60px 0px 30px;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 100px 0px 30px;
  }
}
footer .footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
footer .footerCOntentTittle {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  footer .footerCOntentTittle {
    margin-bottom: 20px;
  }
}
footer .footerCOntentTittle h4, footer .footerCOntentTittle .h4 {
  color: #fff;
}
@media only screen and (max-width: 991px) {
  footer .footerCOntentTittle h4, footer .footerCOntentTittle .h4 {
    font-size: 19px;
  }
}
footer .compDescrip {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  footer .compDescrip {
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  footer .compDescrip {
    width: 28%;
  }
}
footer .useFullLink {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  footer .useFullLink {
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  footer .useFullLink {
    width: 18%;
  }
}
footer .contactUs {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  footer .contactUs {
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  footer .contactUs {
    width: 23%;
  }
}
footer .insGallery {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  footer .insGallery {
    width: 48%;
  }
}
@media only screen and (min-width: 992px) {
  footer .insGallery {
    width: 23%;
  }
}
footer .insGallery .footerInnerCOntent {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
footer .imgBox {
  width: 75px;
  height: 75px;
  position: relative;
}
footer .imgBox:hover .overlayer {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
footer .imgBox img {
  width: 100%;
}
footer .overlayer {
  width: 0%;
  height: 0%;
  background-color: #888888;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .overlayer i {
  color: #F20487;
}
footer .compDescrip ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .compDescrip ul a {
  width: 30px;
  height: 30px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: 0.3s;
}
footer .faceBook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
}
footer .footerInnerCOntent ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
footer .footerInnerCOntent li {
  color: #fff;
}
footer .footerInnerCOntent a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}
footer .footerInnerCOntent a:hover {
  color: #F20487;
}
footer .useFullLink li {
  position: relative;
  padding: 5px 0px 5px 15px;
  margin: 3px 0px;
}
footer .useFullLink li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  background-color: #F20487;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
footer .contactUs ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .contactUs li {
  position: relative;
  padding-left: 30px;
}
footer .contactUs li::before {
  position: absolute;
  content: "\f017";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 16px;
}
footer .contactUs li:first-child {
  padding-top: 5px;
}
footer .contactUs li:nth-child(2)::before {
  content: "\f2a0";
}
footer .contactUs li:nth-child(3)::before {
  content: "\f1d8";
}
footer .contactUs li:nth-child(4)::before {
  content: "\f7a2";
}/*# sourceMappingURL=style.css.map */